@import "hamburger.css";
@import "header.css";
@import "contact.css";
@import "events.css";
@import "about.css";

html{
    scroll-behavior: smooth;
}

body{
    margin:0;
    color: #ffffff;
    background-color: #4B52BA;
    font-family: 'Lato', arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p{
    text-align: center;
}


.introduction_div{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
}

.introduction_div img{
    width: 100%;
    height: 100%;
}

.section_title{
    margin: 0;
    font-family: 'Lato';
    padding-bottom: 25px;
    font-size: 2rem;
    font-weight: 600;
    color: #1c437b;

}


.event_poster {
    height: 40rem;
}

#whowearediv{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 35px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: #fff;
    color: #424242;
}



#whowearediv p{
    max-width: 1050px;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 20px;
}
/**/

.content-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: static;
    font-family: 'Lato';
    color: #424242;
}

.container_wrapper{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
}

.container_wrapper:nth-child(even){
    background-color: #E2E2E2;
}
.container_wrapper:nth-child(odd){
    background-color: #f8f8f8;
}


.container{
    width: 1100px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 15px;
}

/*Media Queries*/

@media (max-width: 1050px) {
    .header{
        height: calc(3vh + 3vw);
    }
    #headerlogo{
        height: calc(2vh + 2vw);
        width: calc(8vh + 4vw);
    }
    .header .hamburger{
        visibility: visible;
    }
    .headeroptions{
        position: absolute;
        top: calc(3vh + 3vw);
        left: 0;
        display: none;
        flex-direction: column;
        align-items: center;
        align-content: center;
        width: 100%;
        background-color: #ffffff;
        box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        transition: 0.5s;
    }
    .headeroptions li{
        width: 100%;
        text-align: center;

    }
    .headeroptions li a{
        font-size: calc(1vh + 1vw);
        display: block;
    }
    .hamburger, .toggler{
        visibility: visible;
    }
    #whowearediv p{
        font-size: calc(0.9vh + 0.9vw);
    }
    .section_title{
        font-size: calc(1vh + 1vw);
    }
    .container{
        width: 100%;
    }
    .introduction_div{
        height: auto;
    }

    .section_title{
        font-size: calc(1.2vh + 1.2vw);
    }

    #whowearediv p{
        font-size: calc(1.05vh + 1.05vw);
        margin-left: 15px;
        margin-right: 15px;
    }
    .event_title{
        font-size: calc(1.1vh + 1.1vw);
    }
    .event_date{
        font-size: calc(1.05vh + 1.05vw);
    }
    .event_description{
        font-size: calc(1vh + 1vw);
    }
    .contact_element{
        font-size: calc(0.9vh + 0.9vw);
    }


}

@media (max-width: 900px) {
    .event{
        width: 100%;
    }

}

@media (max-width: 701px) {
    .grid_container{
        column-count: 1;
    }
    .container{
        width: 100%;
    }
    .social_media{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-left: 0px;
        margin-right: 0px;
    }

}

@media (max-width: 600px), (max-height: 470px){
    .header{
        height: calc(4vh + 4vw);
    }
    #headerlogo{
        height: calc(3vh + 3vw);
        width: calc(10vh + 5vw);
    }
    .headeroptions{
        top: calc(4vh + 4vw);
    }
    #whowearediv p{
        font-size: calc(1.5vh + 1.5vw);
        margin-left: 15px;
        margin-right: 15px;
    }
    .section_title{
        font-size: calc(1.7vh + 1.7vw);
    }
    .event_title{
        font-size: calc(1.7vh + 1.7vw);
    }
    .event_date{
        font-size: calc(1.55vh + 1.55vw);
    }
    .event_description{
        font-size: calc(1.5vh + 1.5vw);
    }
    .contact_element{
        font-size: calc(1.4vh + 1.4vw);
    }
    .social_media{
        display: grid;
        grid-template-columns: repeat(2, [col-start] 1fr);
    }
}
